body {
  margin-top: -100px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#brand {
  border-bottom: 2px solid grey;
}

.title {
  color: White;
  font-family: 'Source Sans Pro', sans-serif;
}

#bg1 {
  background: url(https://static.pexels.com/photos/167092/pexels-photo-167092.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 1000px;
}

#bg2 {
  background: url(https://static.pexels.com/photos/1569/black-and-white-man-person-beach.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 1000px;
}

#bg3 {
  background: url(https://static.pexels.com/photos/164938/pexels-photo-164938.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 1000px;
}

#bg4 {
  background: url(http://wallpoper.com/images/00/44/92/14/mail_00449214.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 350px;
}

#footer {
  background-color: rgb(90,100,90);
  height: 100px;
}

.button {
  background-color: lightblue;
}

.navbar-style {
  background-color: rgba(51,51,51,1.0);
  color: black;
  border-bottom: 2px solid grey;
}

.padding {
  height: 300px;
  padding: 350px 0px;
}

.divider {
  width: 300px;
}

.portfolio-style {
  background-color: white;
  opacity: 0.8;
  height: 1000px;
  margin: 50px 0px;
  color: black;
}

.portfolio-style2 {
  background: rgba(255, 255, 255, 0.8);
  height: 1000px;
  margin: 50px 0px;
  color: black;
}

.me {
  margin-top: 40px;
}

.project {
  background-color: #aabbcc;
  margin: 10px;
}

.link-text {
  font-size: 1.4em;
}

.proj-desc {
  background-color: #aabbbb;
}
.contact {
  color: white;
  padding-top: 50px;
}
.footer-content {
  margin-top: 20px;
}
.icon-bar {
  background-color: black;
}

p {
  font-size: .5em;
}

h1 {
  font-size: 7em;
}

h2 {
  font-size: 5em;
}

h3 {
  font-size: 2em;
}

/* @media screen and (max-width: 568px) {
  p {
    font-size: .75em;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2.5em;
  }
  h3 {
    font-size: 1.5em;
  }
}
 */
